body {

	/*background-color:#E1DAD7;*/

	/*background-image:url(images/texture4.jpg);

	background-attachment:fixed;

	background-repeat:no-repeat;

	padding : 2%;

	margin-left : 8%;*/

        padding : 2%;

	margin-left : 8%;  

        background-color: #E8EBED;

         background-image: url("fond_logo.png"), url("fond_trait.png");

	background-attachment: fixed, fixed;

	background-position: center -90px, 0px 0px;

	background-repeat: no-repeat, repeat;

	color: #383D40;

	font-size: 16px;

	font-family: "Source Sans Pro Light",Arial,Helvetica,sans-serif;

	letter-spacing: 0px;



	

}CSS









/*************************** Accueil ***************************/



/* Bordereau */




#menu, #menu ul{

	padding:0;

	/*margin:0;*/

	margin-right : -20px;

	list-style:none;

	text-align:center;

}

#menu li{

	display:inline-block;

	position:relative;

	border-radius:8px 8px 0 0;

}

#menu ul li{

	display:inherit;

	border-radius:0;

	width : 239px;

}

#menu ul li:hover{

	border-radius:0;

}

#menu ul li:last-child{

	border-radius:0 0 8px 8px;

}

#menu ul{

	position:absolute;

	z-index: 1000;

	max-height:0;

	left: 0;

	right: 0;

	overflow:hidden;

	-moz-transition: .8s all .3s;

	-webkit-transition: .8s all .3s;

	transition: .8s all .3s;

}

#menu li:hover ul{

	max-height:15em;

}





/* background des liens menus */

#menu li{

	background-color: #06B4E4;

	background-image:-webkit-linear-gradient(top, #06B4E4 0%, #2A2333 100%);

	background-image:linear-gradient(to bottom, #06B4E4 0%, #2A2333 100%);

}



/* background des liens sous menus */

#menu li li{

	background:#021220;

}



/* background des liens menus et sous menus au survol */

#menu li:first-child:hover, #menu li:first-child li:hover{

	background:#06B4E4;

}



#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{  /*Sous menu n°2 */

	background:#06B4E4;

}



#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{ /* n°3*/

	background:#06B4E4;

}



#menu li:last-child:hover, #menu li:last-child li:hover{ /* n°4*/

	background:#06B4E4;

}



/* les a href */



#menu a{

	text-decoration:none;

	display:block;

	padding:8px 32px;

	color:#fff;

	font-family:arial;

}

#menu ul a{

	padding:8px 0;

}

#menu li:hover li a{

	color:#fff;

	text-transform:inherit;

}

#menu li:hover a, #menu li li:hover a{

	color:#000;

}

#menu li.active
{
    background-color: #00FF00;
}

.bordereau p{

	margin-top : 40px;

	margin-left : 50px;

	margin-right : 900px;

	font-family : Verdana;

	font-size : 20px;

	



}



.bordereau hr{

	margin-left : 50px;

}



.bordereau #pgeX {

	margin-left : 50px;

	margin-top : 15px;

	margin-right : 900px;

}



.bordereau #grdebarre{

	margin-left : 30px;

	margin-top : 70px;

       

}









/* Logo */



#logo{

	margin-top : -25px;

	margin-right : -20px;

        background-repeat :  repeat-x repeat-y;

}







.formulaire{

	display:inline-block;

}

.formulaire .champ{

	margin-top : 0px; 

	width:225px; 

	height:35px;

}

.formulaire .bouton{ 

	background-image: url(spotlight.jpg);

	background-repeat: no-repeat;

	width: 35px;

	height: 35px;

	

	border-radius : 5px;

}




/*Bloc informations du site */


#par{

   

  

       background: #F3F2ED;

       border: 4px double white;

       padding: 0 20px;

       margin: 10px 0 6px 0;

       margin-left : 100px;

       margin-right : 150px;

       font-family: Georgia,serif;

       border-radius: 0px;

      -moz-border-radius: 10px;

      -webkit-border-radius: 10px;

 

}
#blocinfosite{

	width : 300px;

	height :750px;

	border : 2px solid black;

	margin-left : 650px;

	margin-top : -504px;

	background-color : white;



}





#img{



       background-image : url("icone.pgn");







}







/*Footer*/



#grdebarre2{

	margin-left : 30px;

	margin-top : 125px;

}



footer

{

	

	width : 1104px;

        height: 120px;

        clear: both;

}







#menu-footer

{

	text-align : center;

	height : 0px;

	margin-top : 40	px;



}







#menu-footer a:hover

{

	color: #DAA520;

	font-weight: bold;

}



#menu-footer a.active,



#menu-footer a

{

	color: black;

}

	

#menu-footer #liensfooter

{

	width : 12%;

	margin-top : 25px;

	margin-left : 475px;

}width : 10%;

	



#Par{

        font-family: Georgia,serif;

      



}
