
body {
        padding : 2%;
	margin-left : 5%;
	margin-right : 5%;
	background-color: #E8EBED;
         background-image: url("fond_logo.png"), url("fond_trait.png");
	background-attachment: fixed, fixed;
	background-position: center -90px, 0px 0px;
	background-repeat: no-repeat, repeat;
	color: #383D40;
	font-size: 16px;
	font-family: "Source Sans Pro Light",Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
 	font-family: 'Nunito', sans-serif;

  	color: #384047;
}CSS





/*************************** Accueil ***************************/



/* Bordereau */








#menu, #menu ul{

	padding:0;

	/*margin:0;*/

	margin-right : -20px;

	list-style:none;

	text-align:center;

}

#menu li#active2 a
{
	background-color: #06B4E4;
	border-radius:8px 8px 0 0;
}

#menu li#hover1
{
	background-color: #06B4E4;

	background-image:-webkit-linear-gradient(top, #06B4E4 0%, #2A2333 100%);

	background-image:linear-gradient(to bottom, #06B4E4 0%, #2A2333 100%);
}

#menu li{

	display:inline-block;

	position:relative;

	border-radius:8px 8px 0 0;

}

#menu ul li{

	display:inherit;

	border-radius:0;

	width : 239px;

}

#menu ul li:hover{

	border-radius:0;

}

#menu ul li:last-child{

	border-radius:0 0 8px 8px;

}

#menu ul{

	position:absolute;

	z-index: 1000;

	max-height:0;

	left: 0;

	right: 0;

	overflow:hidden;

	-moz-transition: .8s all .3s;

	-webkit-transition: .8s all .3s;

	transition: .8s all .3s;

}

#menu li:hover ul{

	max-height:15em;

}




/* background des liens menus */

#menu li{

	background-color: #06B4E4;

	background-image:-webkit-linear-gradient(top, #06B4E4 0%, #2A2333 100%);

	background-image:linear-gradient(to bottom, #06B4E4 0%, #2A2333 100%);

}



/* background des liens sous menus */

#menu li li{

	background:#021220;

}



/* background des liens menus et sous menus au survol */

#menu li:first-child:hover, #menu li:first-child li:hover{

	background:#06B4E4;

}



#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{  /*Sous menu n°2 */

	background:#06B4E4;

}



#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{ /* n°3*/

	background:#06B4E4;

}



#menu li:last-child:hover, #menu li:last-child li:hover{ /* n°4*/

	background:#06B4E4;

}



/* les a href */



#menu a{

	text-decoration:none;

	display:block;

	padding:8px 32px;

	color:#fff;

	font-family:arial;

}

#menu ul a{

	padding:8px 0;

}

#menu li:hover li a{

	color:#fff;

	text-transform:inherit;

}

#menu li:hover a, #menu li li:hover a{

	color:#000;

}


.bordereau p{

	margin-top : 40px;

	margin-left : 50px;

	margin-right : 900px;

	font-family : Verdana;

	font-size : 20px;

	



}



.bordereau hr{

	margin-left : 50px;

}



.bordereau #pgeX {

	padding-left : 8%;

	margin-top : 15px;

	margin: auto;

}



.bordereau #grdebarre{

	margin-left : 30px;

	margin-top : 70px;

       

}









/* Logo */



#logo{

	margin-top : -25px;

	margin-right : -20px;

        background-repeat :  repeat-x repeat-y;

}




#blocchiffres{

	width : 800px;

	height :300px;

	border : 2px solid black;

	margin-left : 175px;

	background-color : white;



}



#titrebloc{

	margin-top : -1px;

	text-align : center;	

	border-bottom : 1px solid black;

	font-size : 17px;

}



/*Bloc informations du site */



#blocinfosite{

	width : 300px;

	height :250px;

	border : 2px solid black;

	margin-left : 650px;

	margin-top : -504px;

	background-color : white;



}









#img{



       background-image : url("icone.png");







}







/*Footer*/



#grdebarre2{

	margin-left : 30px;

	margin-top : 125px;

}



footer

{

	

	width : 1104px;

        height: 120px;

        clear: both;

}







#menu-footer

{

	text-align : center;

	height : 0px;
	
	margin: auto;

	margin-top : 40	px;



}







#menu-footer a:hover

{

	color: #DAA520;

	font-weight: bold;

}



#menu-footer a.active,



#menu-footer a

{

	color: black;

}

	

#menu-footer #liensfooter

{

	width : 12%;

	margin-top : 25px;

	margin-left : 475px;

}width : 10%;

	



*, *:before, *:after {

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

}




#bout {

	margin: auto;

	padding-top: 10px;

	padding-bottom: 10px;

	text-align: center;

}



form {

  max-width: 90%;

  margin: 10px auto;

  margin-left: auto;

  margin-right: auto;

  padding: 10px 20px;

  background: #f4f7f8;

  border-radius: 8px;

}



h1 {

	margin: auto;

	text-align: center;

	font-size: 22px;

	padding-bottom: 10px;

	padding-top: 8px;

}



#logistique{

	width: 95%;

	height: 10em;

	display: block;

	margin: auto;

	text-align: left;

}



input[type="text"],

input[type="date"],

input[type="datetime"],

input[type="email"],

input[type="number"],

input[type="search"],

input[type="tel"],

input[type="time"],

input[type="url"],

textarea,

select {

  background: white;

  border: none;

  font-size: 1em;

  height: 22px;

  outline: 0;

  width: 70%;

  background-color: #e8eeef;

  color: #8a97a0;

  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

  text-align: left;

}



p.formulaire{

	/*display: block;*/

	padding-left: 55%;

	text-align: left;

	vertical-align: top;

}



input[type="radio"],

input[type="checkbox"] {

  margin: 0 4px 8px 0;

  

}



select {

  padding: 6px;

  height: 32px;

  border-radius: 2px;

}



div.but {

	margin: auto;

	text-align: center;

}





.but1 {

  padding: 19px 39px 19px 39px;

  color: #FFF;

  background-color: #4bc970;

  font-size: 18px;

  text-align: center;

  font-style: normal;

  border-radius: 5px;

  width: 40%;

}



.but2 {

  padding: 19px 39px 19px 39px;

  color: #FFF;

  background-color: #ff5555;

  font-size: 18px;

  text-align: center;

  font-style: normal;

  border-radius: 5px;

  width: 40%;

}



fieldset {

  text-align: left;

  border: none;

}



legend {

  font-size: 1.08em;

  margin-bottom: 8px;

}



label {

	float: left;

	margin-left: -120%;

	text-align: center;

}





.number {

  background-color: #08a9d7;

  color: #fff;

  height: 22px;

  width: 22px;

  display: inline-block;

  font-size: 0.8em;

  margin-right: 4px;

  line-height: 22px;

  text-align: center;

  text-shadow: 0 1px 0 rgba(255,255,255,0.2);

  border-radius: 100%;

}



.numbere {

background-color: #08a9d7;

  color: #fff;

  height: 30px;

  width: 30px;

  display: inline-block;

  font-size: 0.8em;

  margin-right: 4px;

  line-height: 30px;

  text-align: center;

  text-shadow: 0 1px 0 rgba(255,255,255,0.2);

  border-radius: 100%;

}





/***********************************************************************************/





div.gauche {

	width: 50%;

	float: left;

}





div.droite {

	width: 50%;

	float: right;



}





/***********************************************************************************/

#boutton_envoyer{

        border: 2px solid transparent;
  	background: #08a9d7;
  	color: white;
  	font-size: 16px;
  	line-height: 25px;
 	padding: 10px 0;
 	text-decoration: none;
 	border-radius: 3px;
 	box-shadow: none;
 	display: block;
	width: 160px;
	margin: auto;
	margin-top: 10px;

}



.masquable

{

	/* Par défaut bordure complète */

	border: 1px solid #aaa;

	/* Sert uniquement à créer un "containing élément" pour pouvoir placer le titre avec position: absolute  */

	position: relative;

	margin: 10px;

}



.masquable.ferme

{

	/* La boite ferme n'a que border-top (sinon trait épais) */

	border: none;

	border-top: 1px solid #aaa;

}



.masquable-titre 

{

	/* Permet de placer le titre dans .masquable (qui est "containing bloc") */

	position: absolute;

	font-size: 14px;

	/* coordonnées relatives au "containing bloc" */

	top: -11px;

	left: 20px;

	/* On ne veut pas que le titre fasse toute la ligne */

	display: inline-block;

	padding-left: 1em;

	padding-right: 1em;

	background-color: #f4f7f8;

	cursor: pointer;

	margin: 0;

}



/* Quand c'est ouvert les bordures font bouger légèrement le titre. Il faut compenser de 1px  */

.masquable.ferme>.masquable-titre

{

	left: 21px;	

}





/* La petite boite avec "+" ou "-" */

.masquable-titre span

{

	border: 1px solid #aaa;

	display: inline-block;

	width: 16px;

	height: 16px;

	text-align: center;

	margin-top: 3px;

}



.masquable-titre:hover span

{

	background-color: #ffc;

}





.masquable-contenu

{

	padding: 1em;

	overflow: hidden;

}



.masquable.ferme .masquable-contenu 

{

	/* Quand c'est ferme , on cache le contenu. */

	/* On ne peut pas se contenter de le faire dans le JS... */

	/* car on veut pouvoir avoir des parties fermées dès l'affichage initial */

	/* (qui se fait en HTML+CSS seuls) */

	display: none;

}





/* Éviter que le contenu ne commence par de l'espace vide */

.masquable-contenu>*:first-child

{

	margin-top: 0;

}



/* Éviter que le contenu ne finisse par de l'espace vide */

.masquable-contenu>*:last-child

{

	margin-bottom: 0;

}
